.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-customer-data {
  margin-top: 30px;
  text-align: center;
}

.search-bar {
  margin: 10px
}
.search-bar .search-input {
  margin: 0px 10px;
}
.submit-btn {
  background-color: #545097;
  color: #fff;
}

.customerDetail.sectionStart {
  padding: 10px;
}
.cLabel {
  margin-left: 20px;
}
.sectionHeading {
  margin-left: 10px;
}

.sectionStart {
  margin-top: 20px;
}

.customerCategories {
  background-color: #fd620f;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
}
#transactionTableContainer {
  border-radius: 10px;
  border: gray 1px solid;
}
.transactionHeader {
  background-color: #ebebeb;
}
.customerCategories li{
  list-style-type: none;
}


